@import 'variables/variables.scss';
.input-group {
  width: 100%;
  font-size: $normal-text-size;
}
.input-group label{
  font-weight: 800;
  color: $text-color;
}
.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: $normal-text-size;
}

.form-input {
  border-radius: 0.5rem;
  font-size: $normal-text-size;
  width: calc(100%);
  padding: 0.7rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $blue;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  color: var(--input-text-color)
}

.input-group select {
  width: calc(100%);
  padding: 0.7rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $blue;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  color: $text-color;
}

.input-group select:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid $blue; 
}

.input-group input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid $blue; 
}
.input-group textarea:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid $blue; 
}
.error {
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 0, 0, 0.866); 
}

.error-message {
  color: rgba(255, 0, 0, 0.866);
  font-size: 0.7rem;
  height: 2vh;
  margin-top: 3px;
  transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 0.9rem;
  color: $secondary-text-color; 
}

.question-form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.profile-container {
  position: relative;
}

.profile-picture-preview {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid #ccc;
}


.profile-picture-preview.register-picture{
  width: 100px;
  height: 100px;
}
.profile-picture-preview.profilepage-picture{
  width: calc(5rem + 3vw);
  height: calc(5rem + 3vw);
}

.profile-picture-preview.navbar-picture{
  width: calc(1.5rem + 0.5vw);
  height: calc(1.5rem + 0.5vw);
}
.profile-picture-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.security-question-features{
  color: $blue;
  display: flex;
  justify-content: space-between;
}

.security-question-features span {
  font-size: calc(8px + 0.3vw);
}
.textarea{
  height: 15vh;
}

