@import '../../../style/variables/variables.scss';
.switch {
  width: 40px; /* Adjust the width to make the switch smaller */
  .toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    padding: 2px;
    width: 40px; 
    height: 20px; 
    background-color: #dddddd;
    border-radius: 20px; /* Adjust the border-radius to make it a circle */

    &:before,
    &:after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: "";
    }

    &:before {
      right: 1px;
      background-color: whitesmoke;
      border-radius: 20px; 
      transition: background 0.4s;
    }

    &:after {
      width: 20px;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: 0 2px 5px $shadow-color;
      transition: margin 0.4s;
    }
  }

  .toggle:checked + label:before {
    background-color: $blue;
  }

  .toggle:checked + label:after {
    margin-left: 18px; 
  }
}
