@import "../../style/variables/mixins";
@import "../../style/variables/variables.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
  background-color: $secondary-background-color;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    box-shadow: $blue 0px 2px 8px 0px;
    margin-left: 1vw;
  }

}

.leftSearchHotelCard {
  display: flex;
  flex-direction: column;
  width: 28%;
  gap: 3px;
}

.mainImage {
  width: 100%;
  height: calc(6rem + 3vw);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.additionalImages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.firstCenter{
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.centerSearchHotelCard {
  display: flex;
  flex-direction: column;
  color: $text-color;
  width: 55%;
  justify-content: space-between;

  padding-block: 1vh;
  .hotelName {
    font-size: calc(12px + 0.3vw);
    font-weight: 900;
  }
}

.topCenter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hotelRating {
  h6 {
    width: fit-content;
    font-size: $bigger-text-size;
    display: flex;
    gap: 2px;
    align-items: center;
    color: $blue;
    span {
      color: var(--gray-text-color);
      opacity: 0.65;
      font-weight: 400;
    }
  }
  p {
    font-size: calc(8px + 0.2vw);
    color: var(--gray-text-color);
    opacity: 0.75;
    font-weight: 500;
  }
}

.typeAndStarContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  svg{
    color: #ffcd3c;
  }
}
.typeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding-block: 0.1rem;
  width: fit-content;
  padding-inline: 0.3rem;
  border-radius: 5px;
  background-color: rgb(236, 248, 255);
  p {
    font-weight: 400;
    font-size: calc(8px + 0.2vw);
    color: $blue;
  }
  svg {
    width: 10px;
    height: 10px;
    color: $blue;
  }
}

.locationContainer{
  display: flex;
  gap: 0.5vw;
  align-items: center;
  .hotelAddress{
    font-size: $normal-text-size;
    color: $text-color;
  }
  svg{
    color: var(--gray-text-color);
    width: $normal-text-size;
    height: $normal-text-size;
  }

}

.facilityContainer{
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  .facilityOptions{
    padding: 1px;
    background-color: var(--lighter-background-color);
    p{
      font-size: calc(9px + 0.2vw);
      color: $text-color;
    }
  }
}

.rightSearchHotelCard{
  box-shadow: 0 0 5px 0 $shadow-color;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 15%;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  color: $text-color;
  padding: 1vh;
  span{
    font-size: calc(7px + 0.2vw);
    text-align: end;
    color: var(--gray-text-color);
  }
  h5{
    text-decoration: line-through;
    color: var(--secondary-text-color);
    text-align: end;
    font-size: $bigger-text-size;
  }

  h4{
    font-size: calc(12px + 0.5vw);
    text-align: end;
    color: $orange;
  }
}
.selectRoomBtnContainer{
  display: flex;
  justify-content: flex-end;
}
.selectRoomBtn{
  @include customButton($orange, $orange-onhover);
  margin-top: 2vh;
}

@media (max-width: 768px) {
  .rightSearchHotelCard{
    box-shadow: 0 0 5px 0 $shadow-color;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 20%;

  }
}