@import "../../style/variables/variables.scss";
@import "../../style/variables/mixins";
.cartPageContainer{
  padding-inline: 8vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  min-height: 70vh;
  h1{
    font-size: calc(16px + 1vw);
  }
  padding-bottom: 10vh;
}

.cartPageContent{
  display: flex;
  gap: 4vw;
}
.priceSection{
  width: 30%;
  
}
.priceContainer {
  width: 100%;
  padding: calc(2rem + 1vw);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.priceContent{
  h3{
    font-size: calc(12px + 0.5vw);
  }

  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  .actualPrice{
    color: $blue;
  }
}

.price{
  display: flex;
  justify-content: space-between;
  h4{
    font-size: $bigger-text-size;
    font-weight: 600;
    color: var(--secondary-text-color);
  }
}

.checkoutButton{
  @include customButton($blue, $blue-onhover);
  font-size: $bigger-text-size;
}

.cartDetail{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 70%;
}

.hotelListContainer{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  h2{
    font-size: calc(13px + 0.5vw);
    text-align: center;
  }
}

.hotelFormUpdate{
  display: flex;
  gap: 1vh;
  flex-direction: column;
  width: calc(10rem + 10vw);
}

@media (max-width:768px){
  .cartPageContent{
    flex-direction: column;
  }
  .priceContainer, .cartDetail{
    width: 100%;
  }
  .priceSection{
    width: 100%;
  }
}

.updateButton{
  margin-top: 1vh;
  @include customButton($blue, $blue-onhover);
}

.progressBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */

  .progressSegment {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #ddd; /* Default background color */
    color: #333; /* Default text color */
    font-weight: bold;
    transition: background-color 0.3s ease;

    &.active {
      background-color: #007bff; /* Active segment background color */
      color: #fff; /* Active segment text color */
    }
  }
}

.paymentMethodContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin-top: 2vh;
}
.paymentCard{
  border: 1px solid $secondary-text-color;
  border-radius: 10px;
  padding-block: 1.5vw;
  cursor: pointer;;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  p{
    font-size: $bigger-text-size;
    text-align: center;
    color: $secondary-text-color;
    font-weight: 900;
  }
  position: relative;
  &:hover{
    background: $hover-dark-background;
  }
}
.paymentMethod{
  h3{
    font-size: calc(13px + 0.3vw);
  }
}
.imageCardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    width: calc(7rem  + 2vw);
    height: calc(7rem  + 2vw);
    color: $secondary-text-color;
  }
}
.cardCircle{
  width: 17.5px;
  height: 17.5px;
  border: 2px solid $secondary-text-color;
  border-radius: 50%;
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.activeCard.paymentCard{ 
  border-color: $blue;
  .imageCardContainer{
    svg{
      color: $blue;
    }
  }
  p{
    color: $blue;
  }
  .cardCircle{
    border: 2px solid $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    .cardCircleFill {
      background: $blue;
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }
  }
}

.promotionCodeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  gap: 2vw
}

.promotionButton{
  background-color: transparent;
  color: $blue;
  border: none;
  font-size: $normal-text-size;
  margin-right: 1vw;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.3rem;
  transition: 0.3s;
  border-radius: 10px;
  font-weight: 900;
  &:hover{
    background: $hover-dark-background;
  }
}

.promotionInput{
  position: relative;
  input{
    padding-right: 5rem;
  }
}