
@import "../../../style/variables/mixins";
@import "../../../style/variables/variables.scss";
.languageSelector{
  height: fit-content;
  background-color: $secondary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  border-radius: 10px;
  padding-block: 1vh;
  transition: 0.3;
  .languageContainer{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    color: $text-color;
    font-size: $normal-text-size;
    align-items: center;
    padding-inline: 0.5vw;
    transition: 0.3s;
    border-radius: 10px;
    padding-block: 0.75vh;
    &:hover{
      cursor: pointer;
      background-color: rgba(109, 109, 109, 0.184);
    }
    img{
      width: calc(1.5rem + 0.4vw);
      height: calc(1.5rem + 0.4vw);
    }
  }
}
.payContent{
  height: fit-content;
  background-color: $secondary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 10px;
  padding-block: 1vh;
  transition: 0.3;
  padding: 1rem;
}
.payContentContainer{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  .flex{
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  color: $text-color;
  h6{
    font-size: $bigger-text-size;
  }
  p{
    font-size: $normal-text-size;
  }

  svg{
    color: $blue;
  }
}