@import '../../style/variables/variables.scss';
.sidebar {
  width: calc(10rem + 10vw);
  height: calc(100vh);
  background-color: #ffffffb7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  a{
    text-decoration: none;
  }
  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3vh;
    img {
      width: calc(2rem + 0.5vw);
      height: calc(2rem + 0.5vw);
      border-radius: 1rem;
      opacity: 0.96;
      margin-right: 0.2rem;
    }
    h3{
      text-decoration: none;
      color: $text-color;
    }
  }
}
