@import '../../../style/variables/variables.scss';
@import '../../../style/variables/mixins';
.fileInput {
  .fileItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
    font-size: $normal-text-size;
  }
  
  .fileItem .deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white; 
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
  }
  
  .fileItem img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
  }
}

.input {
  @include customButton($blue, $blue-onhover); 
  width: 100%;
}
