@import '../../style/variables/variables.scss';


.upload-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px dashed $blue;
  height: calc(20rem + 10vw);
  width: calc(20rem + 10vw);
  cursor: pointer;
  border-radius: 1rem;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploaded-row{
  width: calc(20rem + 10vw);
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e9f0ff;
}

.uploaded-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.result{
  color:#1475cf;
  font-weight: 1000;
  font-size: 2rem;
  margin-bottom: 2vh;
}

.uploaded-content > p{
  max-width: 50%;
  font-size: $normal-text-size;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.uploader-icon{
  width: calc(10px + 0.65vw);
  height: calc(10px + 0.65vw);
}